body {
  position: relative;
  width: 100vw;
  height: 100vh;
  
  /* background: linear-gradient(180deg, #161616 0%, #F6EBD5 100%); */
  }

header {
position: absolute;
width: 100vw;
height: 12.1951vh; 
top: 0.6875em;
background: #C2B4A9;
border-radius: 3.125em;
}

.logo {
  position: absolute;
width: 100px;
height: 100px;
left: 43px;
top: 11px;

background: #B9A99C;
}
  h1 {
    color: blue;
  }
  p {
    color: red;
  }
  


/* If the screen size is 801px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  .weBuild {
    position: absolute;
    width: 38.27vw;
    height: 14.87vh;
    left: 7em;
    top: 5em;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    /* font-size: 100px; */
    line-height: 126px;
    /* identical to box height */
    letter-spacing: 0.3em;
    
    color: black;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 50px */
@media screen and (max-width: 800px) {
  .weBuild {
    position: absolute;
    width: 38.27vw;
    height: 14.87vh;
    left: 4em;
    top: 5em;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    /* font-size: 100px; */
    line-height: 126px;
    /* identical to box height */
    letter-spacing: 0.3em;
    font-size: 50px;
    
    color: black;
    }
}