.wrapper {
  display: grid;
  grid-template-rows: 8em 50em 50em 10em 20em;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    'main-header'
    'weBuild'
    'feature-selection'
    'information-product'
    'footer';
  
}

/* Pedro start of work */

img {
	max-width: 100%;
	height: auto;
}

.main-nav a {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #343534;
  text-decoration: none;
}
.main-nav ul {
  margin: 0;
  padding: 0;
}

.container {
  grid-area: main-header;
	width: 960px;
	max-width: 100%;
	padding: 1px;
	margin: 0 auto;
}

.main-header .container {
  
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
  

}

.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}

.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 1000;
  font-size: 15px;
}

.main-header {
  background-color: #C2B4A9;
  border-radius: 25px;
  max-height: 7em;
}

.WB-logo {
  margin: -100px 0px -110px 0px;
  
}


@media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
}

/* Pedro end of work */


body {
  
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #161616 0%, #F6EBD5 100%);
  font-family: 'Outfit', Roboto;
  }
  @media screen and (min-width: 801px){
  .container {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 800px){
  header div .container {
    margin: 0;
    width: 80%;
  }
}

  /* header{
    min-height:5vh;
    max-height: 5vh;
    background: #C2B4A9;
    border-radius: 20px;
  } */

  /* header ::after{
    content: "";
    display: table;
    clear: both;
  } */

/* @media screen and (min-width: 801px){
  .logo {
    margin-left: -20px;
    margin-top: -66px;
    float: left;
    width: 20vw;
    height: 20vh;
  }
} */

/* @media screen and (max-width: 800px){
  .logo {
    margin-left: -20px;
    margin-top: -30px;
    float: left;
    width: 20vw;
    height: 20vh;
  }
}
  
  nav {
    text-align: center;
  }

  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  @media screen and (min-width: 801px){
  nav li {
    display: inline-block;
    margin: 0 50px;
    padding-top: 0.5em;
  }
  }

  @media screen and (max-width: 800px){
    nav li {
      display: inline-block;
      margin: 0 50px;
      padding-top: 0.1em;
    }
  }

  nav li a{ 
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  } */

/* WEBUILD SPAN TREATED AS ONE BLOCK */
/* If the screen size is 801px wide or more, set the font-size of <div> to 80px */
/* This makes the text shrink when you resize the window bellow and above 800 px; */
@media screen and (min-width: 801px) {
  .weBuild {
    grid-area: weBuild;
    position: relative;
    width: 38.27vw;
    height: 14.87vh;
    left: 7em;
    top: 3em;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    /* font-size: 100px; */
    line-height: 126px;
    /* identical to box height */
    letter-spacing: 0.3em;
    text-align: center;
    
    color: black;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 50px */
@media screen and (max-width: 800px) {
  .weBuild {
    position: absolute;
    width: 38.27vw;
    height: 14.87vh;
    left: 4em;
    top: 5em;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 800;
    line-height: 126px;
    letter-spacing: 0.3em;
    font-size: 50px;
    
    color: black;
    }
}
/* SITE NAME WEBUILD CODE */
@media screen and (max-width: 800px) {
.siteName {
  font-size: 50px;
  letter-spacing: 0.2em;
}
}

@media screen and (min-width: 801px) {
  .siteName {
    font-size: 90px;
  }
}

/* SLOGAN "WHERE YOU BUILD YOUR BUSINES CARD CODE" */
@media screen and (max-width: 800px) {
  .slogan {
    font-size: 12px;
    letter-spacing: 0.1em;
    color: black;
    
  }
  }
  @media screen and (min-width: 801px) {
    .slogan {
      font-size: 20px;
      letter-spacing: 0.2em;
      color: black;
    }
}
/* EXPLORE BUTTON  */
@media screen and (max-width: 800px) {
  .explore {
    position: absolute;
    left: 2em;
    top: 5em;
    margin-top: 3em;
    background: #F2C254;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }
  }
  @media screen and (min-width: 801px) {
    .explore {
      position: relative;
      text-align: center;
      
      
      background: #F2C254;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
    }
}

  /*feature-selection*/
  
  .feature-selection .container {
    grid-area: feature-selection;
    display: flex;
    padding: 30px;
    margin: 60px auto;
    align-items: center;
	  justify-content: space-around;
	  
}

/* @media only screen and (max-width: 801px) {
    .feature-selection .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

   
} */

.col {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

/* @media only screen and (max-width: 801px) {
  .col {
       width: 100%;
       height: 1078px;
     }
 } */

 .feature-btn {
  padding: 12px 22px;
  background-color:rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  border: none;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  width: 160px;
}

.feature-btn:hover {
  background-color: rgba(56, 56, 56, 0.73);
  color: white;
}


/*feature1 and feature3 */
.feature {
    background-color: rgba(194,180,169,1);
    margin: 20px;
    border-radius: 25px;
    padding: 40px;
}
 
.feature p {
    font-weight: 600;
    color: #161616;
}

/*feature2 */
.feature-middle {
    background-color: black;
    padding: 40px;
    border-radius: 25px;
    margin: 20px;
    }

.feature-middle p {
    font-weight: 600;
    color: #C2B4A9;
}


.design {
  padding: 12px 22px;
  background-color: rgba(56, 56, 56, 0.73);
  border-radius: 25px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  width: 180px;
}

.design:hover {
 background-color:rgba(255, 255, 255, 0.65); 
 color: black;
}
  

.survey {
    padding: 12px 22px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    border: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    width: 180px;
}

.survey:hover{
  background-color: rgba(56, 56, 56, 0.73);
  color: white;
}

.randomize {
    padding: 12px 22px;
    background-color: rgba(56, 56, 56, 0.73);
    border-radius: 25px;
    border: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: 180px;
}

.randomize:hover {
  background-color:rgba(255, 255, 255, 0.65); 
  color: black;
}

.information-product {
  grid-area: information-product;
}

  /* FOOTER CODE */
  /*Hristo Start*/

  .logoFooter {
    margin: 1em 0 0.5em;
    float: left;
    width: 10em;
    height: 10em;
  }
  
  footer{
    grid-area: footer;
    position: relative;
    margin-bottom: 5px;
    left: 0;
    right: 0;
    height: 5vh;
    width: 100vw;
    color: black;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex-flow: row;
    background: antiquewhite;
    max-height: 20vh;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 15px;
    color: black;
}

.footer-bottom{
    background: antiquewhite;
    width: 100vw;
    /* padding: 20px; */
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:black;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
  
}
.footer-menu ul li{
padding-right: 15px;
display: block;

}
.footer-menu ul li a{
  color: black;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: yellow;
}
      
@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}
/*Hristo End*/





 

